/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background-color: #fbd2d7;
  font-family: raleway;
  color: #0abab5;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 40pt;
  margin-bottom: 0px;
  padding-top: 15px;
}

p {
  text-align: center;
  font-size: 16pt;
}

.boxed {
       float: left;
       align-items: center;
       text-align: center;
       width: auto;
       margin-bottom: 20px;
       height: auto;
}

#container {
  width: 100%;
}

#donate {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

h4 {
  font-size: 16pt;
   line-height: 20px;
   margin-top: 10px;
  line-height: auto;
  padding: 10px 40px 10px 40px;
}

h5 {
   font-family: raleway;
   font-size: 16pt;
   text-align: center;
   display: inline-block;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;
}

.start {
       padding: 7px 7px 7px 7px;
  width: 100px;
       font-family: raleway;
       font-size: 14pt;
      text-align: center;
       color: #0abab5;
       background-color: white;
  border-color: white;
}

.pic-of-me-lol {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}